html {
    padding: 0px;
    margin: 0px;
}

body {
    background: url(./img/Stopwatch\ background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.main-content {
    background-color: rgba(255, 255, 255, 90%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    border-radius: 15px;
}

.timer {
    font-size: 4rem;
}

button {
    margin: 0px 8px 25px 8px;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

#start {
    color: rgb(0, 128, 0);
}

#pause {
    color: rgb(255, 165, 0);
}

#reset {
    color: rgb(255, 0, 0);
}